registry=https://npm.pkg.github.com
@mziglioli:registry=https://npm.pkg.github.com

//npm.pkg.github.com/:email=marceloziglioli@gmail.com
//npm.pkg.github.com/:username=mziglioli

//npm.pkg.github.com/:_authToken=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
