registry=https://npm.pkg.github.com
@mziglioli:registry=https://npm.pkg.github.com

//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/:email=marceloziglioli@gmail.com
//npm.pkg.github.com/:username=mziglioli
