//registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org

@mziglioli:registry=https://npm.pkg.github.com

//npm.pkg.github.com/:username=mziglioli
//npm.pkg.github.com/:email=marceloziglioli@gmail.com
